<%= form_for([@article, @article.ratings.build]) do |f| %>
  <p>
    <%= f.label :rater %><br>
    <%= f.text_field :rater %>
  </p>
  <p>
    <%= f.label :rate %><br>
    <%= f.text_field :rate %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>