<p>
    <h1>Title:
    <%= @article.title %></h1>
</p>
<div>
    <strong>Text:</strong>
    <%= @article.text %>
</div>

<h3>Comments</h3>
<div>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

</div>
<h3>Ratings</h3>
<div>

<%= render @article.ratings %>

<h2>Add a rating from 1-5:</h2>
<%= render 'ratings/form' %>

</div>

<h4><%= link_to 'Article List', articles_path %></h4>