<h1>Animals</h1>
<div>
<h2>Joey</h2>
<%= image_tag("joey.jpg", size: "200x200", :alt => "Joey") %>
<p>Meet Joey!
 Joey is 2 years old and is growing by the minute. Joey is a friendly panda cub that likes to be feed and cuddled.
 If you catch him around the Garden dont be afraid! He just want your attention so give him a friendly pet. 
 He loves bamboo and stealing from our guest's food so beware if you decide to eat in the outside section. 
 We do have some bamboo that can be feed Joey, if you stop by the cashier section.</p>
 
 <h2>Rachel</h2>
<%= image_tag("rachel.jpeg", size: "300x200", :alt => "Rachel") %>
<p>Meet Rachel!
 Rachel is our baby elephant we are fostering for a while until she is a bit older to live in the zoo.
 Rachel will be living her best life in the Asheboro Zoo but, in the mean time they are renovating there
 elephant department we will be taking good care of her in Bearcat Cafe. She is the sweetest of them all 
 and loves to share her food. If she offers some of her hay don't be afraid to grab it from her!
 </p>
 
 <h2>Jester</h2>
<%= image_tag("jester.jpeg", size: "250x200", :alt => "Jester") %>
<p>Meet Jester!
He is our sleepy koala that loves to hang around. He is the chillest of them all where you can catch him
taking a nap most of the time so dont wake him up! He gets cracky when he does not get his beauty sleep.
Jester likes to watch everyone walk by so just give him wave if you see him up and about.
 </p>
 
  <h2>Ernesto</h2>
<%= image_tag("linda.jpeg", size: "250x200", :alt => "Linda") %>
<p>Meet Ernesto!
Ernesto is our chill peacock that licks to flirt with the ladies. He loves to show off his beautiful feathers for our guest to watch.
If you get a chance to see his feathers it means you caught his eye with the color of your outfit so maybe you will get lucky if you
are wearing red.
 </p>
 
 <h2>Linda</h2>
<%= image_tag("giraffe.jpeg", size: "200x200", :alt => "Linda") %>
<p>Meet Linda!
Along with Racherl, she will be stay with us for a while in the mean time that her new permanant home is being set up in the zoo. 
She is a little shy but not hard to find in our bamboo garden. You will see her playing around within our bamboos and and having fun with Jester
or Joey.
 </p>

</div>


<h4><%= link_to "Back", welcome_index_path %></h4>