<h1>Welcome to Bearcat Cafe!</h1>
<%= link_to 'My Blog', controller: 'articles' %>
<%= image_tag("logo.png", size: "400x400", :alt => "Bearcat Cafe Logo") %>
<p>
    <% if current_user %>
        Logged in as <%= current_user.username %>
        <%= link_to "Log Out", logout_path %>
    <% else %>
        <%= link_to "Sign Up", signup_path %> or
        <%= link_to "Log In", login_path %>
    <% end %>
</p>