<h1>Menu</h1>
<div>
<h2>Iced Latte</h2>
 <%= image_tag("icedlatte.jpg", size: "200x200", :alt => "Iced Latte") %>

<p>Cold espresso drink with choice of vanilla, caramel, and mocha flavors. With the choice of soy, oat, almond, or regular milk.</p>

<h2>Kung Pao Chicken</h2>
 <%= image_tag("Kung-pao-Chicken.jpg", size: "200x200", :alt => "Kun Pao Chicken") %>

<p>Stir-fried chicken, peanuts, and vegetables</p>

<h2>Boba Tea</h2>
 <%= image_tag("boba-tea.jpg", size: "200x200", :alt => "Boba Tea") %>

<p>Pick traditonal pearls, or popping, Cantaloupe, Kiwi, Milk, or Taro tea </p>


<h2>Spring Roll</h2>
 <%= image_tag("Spring-Rolls.jpg", size: "200x200", :alt => "Spring Rolls") %>

<p>cabbage, celery, carrots, green onions, and noodles all wrapped in a crispy wonton wrapper</p>


<h2>Fried Rice</h2>
 <%= image_tag("Fried-Rice.jpg", size: "200x200", :alt => "Fried Rice") %>

<p>stir-fried in a wok, choice of vegetables, egg is extra</p>


<h2>Dumplings</h2>
<%= image_tag("Dumplings.jpg", size: "200x200", :alt => "Dumplings") %>

<p>Fresh dough, with choice of beef, pork, shrimp, red bean paste or no filling</p>



</div>
<h3><em><i>Food may come in contact with nuts. Please let us know of any allergies before hand.</em></i></h3>
<h4><%= link_to "Back", welcome_index_path %></h4>